<br><br>
<form action="/users/<%= @user.id %>" method="POST" enctype="multipart/form-data" >
<input type="hidden" value="PATCH" name="_method">

<div class="wrapper">

    <h2>Edit your profile</h2>
    <input class="custom-button" type="file" name="user[avatar]" value="<%= @user.avatar %>"><br> <br>

    <h4><label for="user[bio]">Add a Bio</label></h4><br>
    <textarea class = "large-form" name="user[bio]" id="" cols="10" rows="10"><%= @user.bio%></textarea>

    <table class="center">

            <tr>
                <td>
                    <h5><label for="first_name">First Name:</label></h5>
                    <input class="signup-form" type="text" name="user[first_name]" value="<%= @user.first_name %>">
                </td>

                <td>
                    <h5><label for="last_name">Last Name:</label></h5>
                    <input class="signup-form" type="text" name="user[last_name]" value="<%= @user.last_name %>">
                </td>
            </tr>
        

            <tr>
                <td>
                    <h5><label for="username">User Name:</label></h5>
                    <input class="signup-form" type="text" name="user[username]" value="<%= @user.username %>">
                </td>
                <td>
                    <h5><label for="email">Email:</label></h5>
                    <input class="signup-form" type="email" name="user[email]" value="<%= @user.email %>">
                </td>
        </table>
        <div>
        <br>
            <button type="submit" class="custom-button">Save</button><br><br>
        </div>
    </form>

        <% if logged_in? %>

        <form method="POST" action="/users/<%= @user.id %>">
            <input type="hidden" value="DELETE" name="_method">
            <input class="custom-button" type="submit" value="Delete Profile">
        </form>

    <%end%>

</div>