<br><br>

<h1>Add a Profile Photo</h1>



<div >
    <form action="/users/<%= @user.id %>" method="POST" enctype="multipart/form-data" >
    <input type="hidden" value="PATCH" name="_method">
        
            <input class="custom-button" type="file" name="user[avatar]" value="<%= @user.avatar %>"><br> <br>
            <textarea class = "large-form" name="user[bio]" id="" cols="30" rows="10"><%= @user.bio%></textarea>
    <table class="center">
            <tr>
                <td>
                    <h5><label for="first_name">First Name:</label></h5>
                    <input class="signup-form" type="text" name="user[first_name]" value="<%= @user.first_name %>">
                </td>

                <td>
                    <h5><label for="last_name">Last Name:</label></h5>
                    <input class="signup-form" type="text" name="user[last_name]" value="<%= @user.last_name %>">
                </td>
            </tr>
        

            <tr>
                <td>
                    <h5><label for="username">User Name:</label></h5>
                    <input class="signup-form" type="text" name="user[username]" value="<%= @user.username %>">
                </td>
                <td>
                    <h5><label for="email">Email:</label></h5>
                    <input class="signup-form" type="email" name="user[email]" value="<%= @user.email %>">
                </td>
        </table>
                    <h5><label for="password">Enter Password To Confirm Changes:</label></h5>
                    <input class="small-form" type="password" name="user[password]" value="<%= @user.password %>">
        <div>
        <br>
            <button type="submit" class="custom-button">Save</button>
        </div>
    </form>

</div>