<div class="wrapper">

    <h2>Users</h2>

</div>


<% @users.each do |user|%>
    <div class="wrapper">
        <h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>
        <img src="<%= user.avatar.url %>" alt="profile picture">
        <h3><%= user.first_name %> <%= user.last_name %></h3>
        <p><%= user.bio %></p>
    </div>

<% end %>