<%if logged_in?%>

    <div class="wrapper">
        <h2>Welcome Home, <%= @user.first_name %></h2><br>
        <img src="<%= @user.avatar.url %>"><br><br>
    

<% else %>

    <div class="wrapper">
        <h1><%= @user.first_name %> <%= @user.last_name %>'s Homepage!</h1>
        <img src="<%= @user.avatar.url %>"><br><br>
    
    
<%end%>
        <% if @user.avatar.file.nil? %>

            <a href="/users/<%= @user.id %>/edit" class="custom-button">Add a profile picture!</a>

        <% end %>
        <h5><%= @user.bio %></h5>
    </div>

<div class="post">

<% @user.posts.each do |post| %>
    <div class="wrapper">
        <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
        <img src="<%= post.avatar %>" alt="post-photo">
        <p><%= post.description %></p>
        <h6>Written On: <%= post.created_at %></h6>
    </div>
<%end%>


<% if logged_in?%>
    <div class="wrapper">
        <a href="/users/<%= @user.id %>/edit" class="custom-button">Edit Your Profile</a>
    </div>
<% end %>
