<br>
<div class="wrapper">
    <h1>Edit:</h1>

    <h2><%= @post.title %></h2>
</div>
<div >

    <form action="/posts/<%= @post.id %>" method="POST" enctype="multipart/form-data">

    <div class="wrapper">   
        <input class="form" type="hidden" value="PATCH" name="_method">
        <h4><label for="title">Title:</label><br>
            <input class="small-form" type="text" name="post[title]" value="<%= @post.title %>"></h4><br>
    </div>

    <div class="wrapper">   
        <h4><label for="post[content]">Description</label> <br>
            <textarea class="large-form" name="post[content]"><%= @post.description %></textarea><br>
    </div>

    <div class = "wrapper">
        <h4><label for="post[avatar]">Upload a new Photo</label> <br>
        <input class="custom-button" type="file" name="post[avatar]" value="<%= @post.avatar %>"><br>
    
    </div>

    <div class="wrapper">
        <table class="center">
            <h3>Ingredients</h3><br>
            <tr>
                <th></th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Measurement</th>
            </tr>
            <%counter = 1%>
            <% @post.ingredients.each do |ingredient|%>
                <tr>
                    <td><label>Ingredient #<%=counter%></label></td>
                    <td><input class="small-form" type="text" name="post[ingredients][][name]" value="<%= ingredient.name %>"></td>
                    <td><input class="small-form" type="text" name="post[ingredients][][amount]" value="<%= ingredient.ingredient_posts[0].amount %>"></td>
                    <td><input class="small-form" type="text" name="post[ingredients][][measurement]" value="<%= ingredient.ingredient_posts[0].measurement_type %>"></td>
                </tr>
                <%counter += 1%>
            <%end%>
        </table>
    </div>

    <div class="wrapper">
        <% ingredient_counter = 1%>
        <% @post.steps.each do |step|%>
            <label for="step">Step # <%=ingredient_counter%> </label><br>
            <textarea class="large-form" type="text" name="post[step][][content]"><%= step.content %>"</textarea><br><br>
            <% ingredient_counter += 1 %>
        <%end%>
    </div>


        <button type="submit" class="custom-button">Save</button>
    </form>


   

    <% if @post.user_id == session["user_id"] %>

        <form method="POST" action="/posts/<%= @post.id %>">
            <input type="hidden" value="DELETE" name="_method">
            <input class="custom-button" type="submit" value="Delete Post">
        </form>

    <%end%>
</div>


