<br>
<div class="wrapper">
    <h1>Edit:</h1>

    <h2><%= @post.title %></h2>
</div>
<div >

    <form action="/posts/<%= @post.id %>" method="POST" enctype="multipart/form-data">

    <div class="wrapper">   
        <input class="form" type="hidden" value="PATCH" name="_method">
        <h4><label for="title">Title:</label><br>
            <input class="small-form" type="text" name="post[title]" value="<%= @post.title %>"></h4><br>
    </div>

    <div class="wrapper">   
        <h4><label for="content">Description</label> <br>
            <input  class="large-form" name="post[content]" value="<%= @post.content %>"><br>
    </div>

    <div class="wrapper">
        <table class="center">
            <h3>Ingredients</h3><br>
            <tr>
                <th></th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Measurement</th>
            </tr>
            <tr>
                <td><label for="first-ingredient">First Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]" value="<%= @post.ingredients[0].name %>"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="second-ingredient">Second Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
            <tr>
                <td><label for="third-ingredient">Third Ingredient</label></td>
                <td><input class="small-form" type="text" name="post[ingredients][][name]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][amount]"></td>
                <td><input class="small-form" type="text" name="post[ingredients][][measurement]"></td>
            </tr>
        </table>
    </div>

    <% if @post.steps %>
        <div class="wrapper">   
            <p><label for="step[one]">Step 1</label><br>
                <input class="large-form" type="text" name="post[step][][content]" value="<%= @post.steps[0].content %>"><br><br>

            <label for="step[two]">Step 2</label><br>
                <input class="large-form" type="text" name="post[step][][content]" value="<%= @post.steps[1].content %>"><br><br>

            <label for="step[three]">Step 3</label><br>
                <input class="large-form" type="text" name="post[step][][content]" value="<%= @post.steps[2].content %>"><br><br>

            <label for="step[four]">Step 4</label><br>
                <input class="large-form" type="text" name="post[step][][content]" value="<%= @post.steps[3].content %>"><br><br>

            <label for="step[five]">Step 5</label><br>
                <input class="large-form"  type="text" name="post[step][][content]" value="<%= @post.steps[4].content %>"><br><br>

            <label for="step[six]">Step 6</label><br>
                <input class="large-form" type="text" name="post[step][][content]" value="<%= @post.steps[5].content%>"><br><br></p></h4>

        </div>
    <% end %>
        <button type="submit" class="custom-button">Save</button>
    </form>


   

    <% if @post.user_id == session["user_id"] %>

        <form method="POST" action="/posts/<%= @post.id %>">
            <input type="hidden" value="DELETE" name="_method">
            <input class="custom-button" type="submit" value="Delete Post">
        </form>

    <%end%>
</div>


