<h1>Edit: <%= @post.title %></h1>

<div class="post">

    <form action="/posts/<%= @post.id %>" method="POST" class="form">
        <input type="hidden" value="PATCH" name="_method">
        <input type="text" name="post[title]" value=<%= @post.title %>><br>
        <textarea name="post[content]"><%= @post.content %></textarea><br>
        <button type="submit" class="custom-button">Save</button>
    </form>

</div>

<div>
    <a href="/logout" class="button">Logout</a>
</div>

<% if @post.user_id == session["user_id"] %>

    <form method="POST" action="/posts/<%= @post.id %>">
        <input type="hidden" value="DELETE" name="_method">
        <input class="custom-button" type="submit" value="delete">
    </form>

<%end%>