<h1>Here are all of your posts!</h1>

<div class="post">
    <% @user_posts.each do |post|%>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <h4>Author: <%= post.user.first_name %> <%=post.user.last_name%></h4>
        <h6>Created on: <%=post.created_at %></h6>
        <hr>
    <% end %>

</div>
<div>
    <a href="/logout" class="button">Logout</a>   <a href="/posts/new" class="button">New Note</a>
</div>