<h1>Here are all the posts</h1>

<div class="post">
    <% @posts.each do |post|%>
        <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
        <p><%= post.content %></p>
        <h6>Author: <%= post.user.first_name %> <%=post.user.last_name%></h6>
        <h6>Created on: <%=post.created_at %></h6>
        <hr>
    <% end %>

</div>
<div>
    <a href="/logout" class="button">Logout</a>   <a href="/posts/new" class="button">New Note</a>
</div>