
    <div class="wrapper">
        <h1><%= @post.title %></h1>
        
    </div>

    <div class="wrapper">
        <h2>Description</h2>
        <p><%= @post.content %></p> 
        <img class="center" src="<%= @post.avatar %>" alt="post-photo">   
    </div>
   
    
    <div class="wrapper">

       <% @post.ingredients.each do |ingredient| %>
            <%= ingredient.name %> 
        <% end %>
        
    </div>


    <% step_counter = 1%>
    <% @post.steps.each do |step| %>
        <div class="wrapper">
            <h2>Step <%= step_counter  %></h2>
            <p><%=step.content%></p>
            <% step_counter += 1%>
        </div>
        <% end %>

    <div>
        <h6>Author: <%= @post.user.first_name %> <%=@post.user.last_name%></h6>
        <h6>Written On: <%=@post.created_at %></h6>
    </div>

<% if @post.user_id == session["user_id"] %>
   <a href="/posts/<%= @post.id %>/edit" class="custom-button">Edit</a>
<% end %>

