<h1><%= @post.title %></h1>

<div class="post">
    <div class="wrapper">
        <h3><%= @post.title %></h3>
        <p><%= @post.content %></p>
        <h6>Author: <%= @post.user.first_name %> <%=@post.user.last_name%></h6>
        <h6>Written On: <%=@post.created_at %></h6>
        <hr>
    </div>
</div>

<div>
   <a href="/posts/<%= @post.id %>/edit" class="button">Edit</a>
</div>

